@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Fugaz+One&family=Geist:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
   
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
}

.icon-fade {
  transition: opacity 0.3s;
  opacity: 1;
}
.icon-fade-out {
  opacity: 0;
}

